IDCardFdv.VC.db
IDCardFdv.VC.VC.opendb
Debug/
ipch/
Release/
.vs/IDCardFdv/v14/.suo
IDCardFdvRegister/IDCardFdvRegister.vcxproj.user
IDCardFdvRegister/IDCardFdvRegister.aps
IDCardFdv/IDCardFdv.aps
MTLibNetwork/MTLibNetwork.vcxproj.user
IDCardFdv/IDCardFdv.vcxproj.user
MTLibCamera/MTLibCamera.vcxproj.user
qrencode/qrencode.vcxproj.user
