IDCardFdv.VC.db
IDCardFdv.VC.VC.opendb
Debug/
ipch/
Release/
.vs/IDCardFdv/v14/.suo
IDCardFdvRegister/IDCardFdvRegister.vcxproj.user
IDCardFdvRegister/IDCardFdvRegister.aps
IDCardFdv/IDCardFdv.aps
MTLibNetwork/MTLibNetwork.vcxproj.user
IDCardFdv/IDCardFdv.vcxproj.user
MTLibCamera/MTLibCamera.vcxproj.user
qrencode/qrencode.vcxproj.user
IDCardFdvSetup/IDCardFdvSetup/Express/SingleImage/LogFiles/
IDCardFdvSetup/IDCardFdvSetup/Express/SingleImage/Reports/
IDCardFdvSetup/IDCardFdvSetup/Express/
MTLibIDCardReader/MTLibIDCardReader.vcxproj.user
others/modelsc.dat
others/modelcc.dat
others/markscc.dat
bin/opencv_imgproc400.dll
bin/opencv_imgcodecs400.dll
bin/opencv_core400.dll
include/opencv-2.4.7/
IDCardFdvStartup/IDCardFdvStartup.aps
IDCardFdvStartup/IDCardFdvStartup.vcxproj.user
others/backup/
